* {
 border: 1px solid red !important;     
}

.grid{
   margin: 0 auto; 
width: 100%;
display: flex; 
}
    .row{
      width: 10%; 
}
.search{
    width: 70%;
    height: 20px;
}
.col-10{
   width: 10%; 
   height: 50px; 
}
.col-33{
    width: 33.3%;
}
body {
  background-color: dark;
}

h1 {
  color: white;
  text-align: center;
    
}

p {
  font-family: verdana;
  font-size: 20px;
}
h2 {
    font-family: verdana;
  font-size: 20px;
}








